/*  MOBILE AND TABLET*/
@media screen and (max-width:69.9375em) {
  .nav__sidebar-mobile img {
    width: 2.5em;
  }
  .nav__sidebar-mobile {
    
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height:60px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding: 0 50px;
  }
  .user-current-picture {
    width: 45px;
  }
  .messages-pos-fixed {
    display: none;
  }
  .sidebar p {
    display: none;
  }
  .sidebar{
    display: none;
  }
  .sidebar img {
    display: none;
  }
  .header {
    display: block;
  }

}





/* MOBILE */
@media screen and (max-width: 46.188em) {
  /* SIDEBAR */
  .header__search-bar {
    display: none;
  }
  .nav__sidebar-mobile img {
  object-fit: contain;
  width:30px;
}
  .sidebar__link {
    width: 100%;
    margin-left: 0px;
    padding: 0;
  }
  .sidebar__instagramLogo {
    display: none;
  }
  /* MAIN FEED */
  .main-feed {
    width:100%;
    margin-left: 0;
    padding-left: 0;
  }
  .post {
    width: 90%;
  }
  .main-post__picture {
    width: 100%;
  }
  .main-post {
    width:100%;

  }
  .stories-bar {
    width:100%;
    overflow-x: scroll;
    white-space: nowrap;
    width: 90%;
    gap: 10px;
  }
  .stories-bar::-webkit-scrollbar {
  display: none;
}
  .stories-bar__user {
    flex-shrink: 2;
  }
  .stories-bar-container::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
  .suggestion-bar {
    display: none;
  }
}

/* Tablet */
@media screen and (min-width: 46.25em) and (max-width: 69.9375em) {
  .suggestion-bar {
    display: none;
  }
  .header {
    display: block;
  }
  .main-feed {
    margin-left: 0;
  }
  .sidebar {
    display: none;
  }
}

/* LAPTOP */
@media screen and (min-width: 64em) {
  .sidebar {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  width:245px;
  gap:10px;
  border-right: 0.25px solid rgb(52, 51, 51);
  background-color: black;
  }

}

