
.sidebar__link img {
  object-fit: contain;
  margin-left: 10px;
  width:30px;
}
.sidebar__link {
  color: white;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  height: 40px;
  border-radius: 6px;
  width: 90%;
  padding-left: 14px;
  margin-left: 0px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.sidebar__link:hover {
  background-color: rgb(58, 58, 58)
}
.sidebar__link:active {
  transform: scale(0.95); /* Nút nhỏ lại một chút */
}
.sidebar__instagramLogo {
  height:97px;
  cursor: pointer;
}
.sidebar__instagramLogo:active {
  opacity: 0.6;
}
.instagram-logo--smallSize {
  width:110px;
  margin-top: 27px;
  margin-left: 20px;
}
.user-current-picture {
  border-radius: 50%;
}
.side-bar-footer {
  display: flex;
  flex-direction: column;
  gap:10px;
  margin-top: 60px;
}
.home-link__fontWeight {
  font-weight: bolder;
}